.TodoItem {
    background-color: #FAFAFA;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    border-radius: 9px;
background: #25d5ed;
box-shadow:  2px 2px 3px #1eadc0,
             -2px -2px 3px #2cfdff;
    
  }

  .TodoItem--complete{
    background: #634fe7;
    box-shadow:  1px 1px 2px #008bff ,
                 -1px -1px 2px #634fe7;
  }
  .TodoItem:hover  {
    transform: scale(1.1);
  }
  
  .TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  .TodoItem-p--complete {
    text-decoration: line-through;
  }
  
  .Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    /* background-color: #CCC; */
  }
  
  .Icon-check {
    position: absolute;
    left: 12px;
  }
  .Icon-check--active {
    color: #4caf50;
  }
  
  .Icon-delete {
    position: absolute;
    top: -20px;
    right: 0;
  }
  .Icon-delete:hover {
    color: red;
  }